.menu {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 2px;
  color: black;
  font-size: 14px;
  padding-left: 15px;
  border-left: 2px solid #b99d61;
}
